In [1]:
# Initial imports
import numpy as np
import pandas as pd
# import hvplot.pandas
from pathlib import Path
# import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [2]:
# import Final_project_NYC_BIKE_LANE_cleaned.csv data to match accident site 
file_path = "Resources/Segment2/Final_project_NYC_Bike_All_ML.csv"
ML = pd.read_csv(file_path, index_col=0 )
print(ML.shape)
ML

(9193, 27)

,DATES,TIME,DAY_OF_WEEK,MONTH,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,...,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,STREET,TEMP,VISIBILITY,HUMIDITY,WIND_SPEED,WEATHER_MAIN,BIKE_LANE
COLLISION_ID,,,,,,,,,,,,,,,,,,,,,
4271563,"January 2, 2020",13:00:00,Thursday,January,MANHATTAN,10003,40.714165,-74.006320,1,0,...,Unspecified,sedan,Bike,CHAMBERS STREET,33.94,10000.0,61,9.17,Clear,1
4268322,"January 2, 2020",16:00:00,Thursday,January,MANHATTAN,10012,40.725643,-73.992070,1,0,...,Unspecified,sedan,Bike,BOWERY,42.03,10000.0,54,9.17,Clear,1
4268207,"January 2, 2020",17:00:00,Thursday,January,BROOKLYN,11221,40.693874,-73.917770,1,0,...,Unspecified,station wagon/sport utility vehicle,Bike,CENTRAL AVENUE,44.60,10000.0,48,12.75,Rain,0
4268408,"January 3, 2020",8:00:00,Friday,January,BRONX,10456,40.820747,-73.906006,1,0,...,Unspecified,e-bike,Taxi,JACKSON AVENUE,46.78,10000.0,60,8.05,Rain,0
4269187,"January 3, 2020",11:00:00,Friday,January,BROOKLYN,11205,40.691017,-73.954475,1,0,...,Unsafe Speed,sedan,E-Bike,DE KALB AVENUE,44.92,10000.0,74,8.05,Rain,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571618,"October 9, 2022",1:00:00,Sunday,October,QUEENS,11375,40.734295,-73.850310,1,0,...,Unspecified,taxi,Bike,108 STREET,52.79,10000.0,53,8.05,Clear,0
4571590,"October 9, 2022",6:00:00,Sunday,October,BROOKLYN,11201,40.689840,-73.978630,1,0,...,Unspecified,bike,Station Wagon/Sport Utility Vehicle,DE KALB AVENUE,48.74,10000.0,66,8.01,Clear,1
4571393,"October 9, 2022",11:00:00,Sunday,October,BROOKLYN,11201,40.702610,-73.992516,1,0,...,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,bike,Bike,FRONT STREET,44.96,10000.0,74,4.61,Clear,1
4571698,"October 9, 2022",12:00:00,Sunday,October,MANHATTAN,10002,40.715080,-73.992500,1,0,...,Unspecified,bike,Station Wagon/Sport Utility Vehicle,CANAL STREET,46.53,10000.0,72,5.75,Clear,1
4571553,"October 9, 2022",20:00:00,Sunday,October,BROOKLYN,11223,40.600590,-73.961370,1,0,...,Unspecified,sedan,Bike,AVENUE T,62.17,10000.0,43,17.00,Rain,0

In [3]:
ML.columns.tolist()

['DATES',
 'TIME',
 'DAY_OF_WEEK',
 'MONTH',
 'BOROUGH',
 'ZIP CODE',
 'LATITUDE',
 'LONGITUDE',
 'NUMBER OF PERSONS INJURED',
 'NUMBER OF PERSONS KILLED',
 'NUMBER OF PEDESTRIANS INJURED',
 'NUMBER OF PEDESTRIANS KILLED',
 'NUMBER OF CYCLIST INJURED',
 'NUMBER OF CYCLIST KILLED',
 'NUMBER OF MOTORIST INJURED',
 'NUMBER OF MOTORIST KILLED',
 'CONTRIBUTING FACTOR VEHICLE 1',
 'CONTRIBUTING FACTOR VEHICLE 2',
 'VEHICLE TYPE CODE 1',
 'VEHICLE TYPE CODE 2',
 'STREET',
 'TEMP',
 'VISIBILITY',
 'HUMIDITY',
 'WIND_SPEED',
 'WEATHER_MAIN',
 'BIKE_LANE']

In [4]:
ML.groupby(["NUMBER OF PERSONS KILLED", "NUMBER OF PERSONS INJURED", "BIKE_LANE"]).count()

                                                              DATES  TIME  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0           5778  5778
                                                   1           3084  3084
                         2                         0            200   200
                                                   1             96    96
                         3                         0             16    16
                                                   1             10    10
                         4                         1              1     1
                         5                         0              1     1
                                                   1              2     2
                         6                         0              1     1
                                                   1              1     1
                         7                         0              1     1
1                        3                         1              1     1
                         4                         0              1     1

                                                              DAY_OF_WEEK  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0                 5778
                                                   1                 3084
                         2                         0                  200
                                                   1                   96
                         3                         0                   16
                                                   1                   10
                         4                         1                    1
                         5                         0                    1
                                                   1                    2
                         6                         0                    1
                                                   1                    1
                         7                         0                    1
1                        3                         1                    1
                         4                         0                    1

                                                              MONTH  BOROUGH  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0           5778     5778
                                                   1           3084     3083
                         2                         0            200      200
                                                   1             96       96
                         3                         0             16       16
                                                   1             10       10
                         4                         1              1        1
                         5                         0              1        1
                                                   1              2        2
                         6                         0              1        1
                                                   1              1        1
                         7                         0              1        1
1                        3                         1              1        1
                         4                         0              1        1

                                                              ZIP CODE  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0              5778
                                                   1              3084
                         2                         0               200
                                                   1                96
                         3                         0                16
                                                   1                10
                         4                         1                 1
                         5                         0                 1
                                                   1                 2
                         6                         0                 1
                                                   1                 1
                         7                         0                 1
1                        3                         1                 1
                         4                         0                 1

                                                              LATITUDE  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0              5778
                                                   1              3084
                         2                         0               200
                                                   1                96
                         3                         0                16
                                                   1                10
                         4                         1                 1
                         5                         0                 1
                                                   1                 2
                         6                         0                 1
                                                   1                 1
                         7                         0                 1
1                        3                         1                 1
                         4                         0                 1

                                                              LONGITUDE  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0               5778
                                                   1               3084
                         2                         0                200
                                                   1                 96
                         3                         0                 16
                                                   1                 10
                         4                         1                  1
                         5                         0                  1
                                                   1                  2
                         6                         0                  1
                                                   1                  1
                         7                         0                  1
1                        3                         1                  1
                         4                         0                  1

                                                              NUMBER OF PEDESTRIANS INJURED  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0                                   5778
                                                   1                                   3084
                         2                         0                                    200
                                                   1                                     96
                         3                         0                                     16
                                                   1                                     10
                         4                         1                                      1
                         5                         0                                      1
                                                   1                                      2
                         6                         0                                      1
                                                   1                                      1
                         7                         0                                      1
1                        3                         1                                      1
                         4                         0                                      1

                                                              NUMBER OF PEDESTRIANS KILLED  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0                                  5778
                                                   1                                  3084
                         2                         0                                   200
                                                   1                                    96
                         3                         0                                    16
                                                   1                                    10
                         4                         1                                     1
                         5                         0                                     1
                                                   1                                     2
                         6                         0                                     1
                                                   1                                     1
                         7                         0                                     1
1                        3                         1                                     1
                         4                         0                                     1

                                                              ...  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE  ...
0                        1                         0          ...
                                                   1          ...
                         2                         0          ...
                                                   1          ...
                         3                         0          ...
                                                   1          ...
                         4                         1          ...
                         5                         0          ...
                                                   1          ...
                         6                         0          ...
                                                   1          ...
                         7                         0          ...
1                        3                         1          ...
                         4                         0          ...

                                                              CONTRIBUTING FACTOR VEHICLE 1  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0                                   5778
                                                   1                                   3084
                         2                         0                                    200
                                                   1                                     96
                         3                         0                                     16
                                                   1                                     10
                         4                         1                                      1
                         5                         0                                      1
                                                   1                                      2
                         6                         0                                      1
                                                   1                                      1
                         7                         0                                      1
1                        3                         1                                      1
                         4                         0                                      1

                                                              CONTRIBUTING FACTOR VEHICLE 2  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0                                   5778
                                                   1                                   3084
                         2                         0                                    200
                                                   1                                     96
                         3                         0                                     16
                                                   1                                     10
                         4                         1                                      1
                         5                         0                                      1
                                                   1                                      2
                         6                         0                                      1
                                                   1                                      1
                         7                         0                                      1
1                        3                         1                                      1
                         4                         0                                      1

                                                              VEHICLE TYPE CODE 1  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0                         5778
                                                   1                         3084
                         2                         0                          200
                                                   1                           96
                         3                         0                           16
                                                   1                           10
                         4                         1                            1
                         5                         0                            1
                                                   1                            2
                         6                         0                            1
                                                   1                            1
                         7                         0                            1
1                        3                         1                            1
                         4                         0                            1

                                                              VEHICLE TYPE CODE 2  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0                         5778
                                                   1                         3084
                         2                         0                          200
                                                   1                           96
                         3                         0                           16
                                                   1                           10
                         4                         1                            1
                         5                         0                            1
                                                   1                            2
                         6                         0                            1
                                                   1                            1
                         7                         0                            1
1                        3                         1                            1
                         4                         0                            1

                                                              STREET  TEMP  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0            5778  5778
                                                   1            3084  3084
                         2                         0             200   200
                                                   1              96    96
                         3                         0              16    16
                                                   1              10    10
                         4                         1               1     1
                         5                         0               1     1
                                                   1               2     2
                         6                         0               1     1
                                                   1               1     1
                         7                         0               1     1
1                        3                         1               1     1
                         4                         0               1     1

                                                              VISIBILITY  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0                5770
                                                   1                3079
                         2                         0                 200
                                                   1                  96
                         3                         0                  16
                                                   1                  10
                         4                         1                   1
                         5                         0                   1
                                                   1                   2
                         6                         0                   1
                                                   1                   1
                         7                         0                   1
1                        3                         1                   1
                         4                         0                   1

                                                              HUMIDITY  \
NUMBER OF PERSONS KILLED NUMBER OF PERSONS INJURED BIKE_LANE
0                        1                         0              5778
                                                   1              3084
                         2                         0               200
                                                   1                96
                         3                         0                16
                                                   1                10
                         4                         1                 1
                         5                         0                 1
                                                   1                 2
                         6                         0                 1
                                                   1                 1
                         7                         0                 1
1                        3                         1                 1
                         4                         0                 1

                                                              WIND_SPEED  \