In [81]:
# Initial imports
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [41]:
# Load the crypto_data.csv dataset.
file_path = "Crash-Cyclist-2020.csv"
crash_df = pd.read_csv(file_path, index_col=0 )
print(crash_df.shape)
crash_df.head(10)

(14237, 28)

,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
CRASH DATE,,,,,,,,,,,,,,,,,,,,,
12/14/21,12:54,BROOKLYN,11217.0,40.687534,-73.977500,"(40.687534, -73.9775)",FULTON STREET,SAINT FELIX STREET,NaN,1.0,...,Unspecified,NaN,NaN,NaN,4487052,Sedan,Bike,NaN,NaN,NaN
12/14/21,16:25,NaN,NaN,40.784615,-73.953964,"(40.784615, -73.953964)",EAST 93 STREET,NaN,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4486581,Van,Bike,NaN,NaN,NaN
4/24/22,15:35,MANHATTAN,10019.0,40.767242,-73.986206,"(40.767242, -73.986206)",WEST 56 STREET,9 AVENUE,NaN,1.0,...,Unspecified,NaN,NaN,NaN,4521853,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
12/9/21,20:20,BROOKLYN,11223.0,40.592070,-73.962990,"(40.59207, -73.96299)",EAST 7 STREET,CRAWFORD AVENUE,NaN,1.0,...,Unspecified,NaN,NaN,NaN,4485150,Bike,NaN,NaN,NaN,NaN
12/9/21,23:15,BROOKLYN,11218.0,40.640835,-73.989670,"(40.640835, -73.98967)",12 AVENUE,41 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4485355,Sedan,Bike,NaN,NaN,NaN
12/8/21,19:30,MANHATTAN,10022.0,40.761750,-73.968990,"(40.76175, -73.96899)",NaN,NaN,127 EAST 58 STREET,1.0,...,Reaction to Uninvolved Vehicle,NaN,NaN,NaN,4484852,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
12/8/21,12:00,MANHATTAN,10011.0,40.736614,-73.995100,"(40.736614, -73.9951)",NaN,NaN,44 WEST 14 STREET,1.0,...,Unspecified,NaN,NaN,NaN,4485542,Box Truck,Bike,NaN,NaN,NaN
3/26/22,19:50,MANHATTAN,10012.0,40.730145,-73.997810,"(40.730145, -73.99781)",NaN,NaN,60 WASHINGTON SQUARE SOUTH,1.0,...,Unspecified,NaN,NaN,NaN,4513735,E-Bike,BOX VAN,NaN,NaN,NaN
3/21/22,19:13,NaN,NaN,40.731407,-73.996980,"(40.731407, -73.99698)",WASHINGTON SQUARE NORTH,NaN,NaN,1.0,...,Unspecified,NaN,NaN,NaN,4514234,Sedan,Bike,NaN,NaN,NaN
3/26/22,2:10,MANHATTAN,10018.0,40.754707,-73.991640,"(40.754707, -73.99164)",WEST 38 STREET,8 AVENUE,NaN,1.0,...,Unspecified,NaN,NaN,NaN,4513739,Bike,NaN,NaN,NaN,NaN

In [3]:
# check the dataset
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14237 entries, 12/14/21 to 2/14/20
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH TIME                     14237 non-null  object
 1   BOROUGH                        10348 non-null  object
 2   ZIP CODE                       10348 non-null  float64
 3   LATITUDE                       13428 non-null  float64
 4   LONGITUDE                      13428 non-null  float64
 5   LOCATION                       13428 non-null  object
 6   ON STREET NAME                 11360 non-null  object
 7   CROSS STREET NAME              8538 non-null   object
 8   OFF STREET NAME                2877 non-null   object
 9   NUMBER OF PERSONS INJURED      14236 non-null  float64
 10  NUMBER OF PERSONS KILLED       14237 non-null  int64
 11  NUMBER OF PEDESTRIANS INJURED  14237 non-null  int64
 12  NUMBER OF PEDESTRIANS KILLED   14237 non-null  int64
 13  NUMBER OF CYCLIST INJURED      14237 non-null  int64
 14  NUMBER OF CYCLIST KILLED       14237 non-null  int64
 15  NUMBER OF MOTORIST INJURED     14237 non-null  int64
 16  NUMBER OF MOTORIST KILLED      14237 non-null  int64
 17  CONTRIBUTING FACTOR VEHICLE 1  14237 non-null  object
 18  CONTRIBUTING FACTOR VEHICLE 2  13100 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 3  298 non-null    object
 20  CONTRIBUTING FACTOR VEHICLE 4  37 non-null     object
 21  CONTRIBUTING FACTOR VEHICLE 5  13 non-null     object
 22  COLLISION_ID                   14237 non-null  int64
 23  VEHICLE TYPE CODE 1            14237 non-null  object
 24  VEHICLE TYPE CODE 2            12210 non-null  object
 25  VEHICLE TYPE CODE 3            278 non-null    object
 26  VEHICLE TYPE CODE 4            36 non-null     object
 27  VEHICLE TYPE CODE 5            13 non-null     object
dtypes: float64(4), int64(8), object(16)
memory usage: 3.1+ MB

In [4]:
# count the null value in the dataframe using for loop
for column in crash_df.columns:
    print(f"Clumn {column} has {crash_df[column].isnull().sum()}")

Clumn CRASH TIME has 0
Clumn BOROUGH has 3889
Clumn ZIP CODE has 3889
Clumn LATITUDE has 809
Clumn LONGITUDE has 809
Clumn LOCATION has 809
Clumn ON STREET NAME has 2877
Clumn CROSS STREET NAME has 5699
Clumn OFF STREET NAME has 11360
Clumn NUMBER OF PERSONS INJURED has 1
Clumn NUMBER OF PERSONS KILLED has 0
Clumn NUMBER OF PEDESTRIANS INJURED has 0
Clumn NUMBER OF PEDESTRIANS KILLED has 0
Clumn NUMBER OF CYCLIST INJURED has 0
Clumn NUMBER OF CYCLIST KILLED has 0
Clumn NUMBER OF MOTORIST INJURED has 0
Clumn NUMBER OF MOTORIST KILLED has 0
Clumn CONTRIBUTING FACTOR VEHICLE 1 has 0
Clumn CONTRIBUTING FACTOR VEHICLE 2 has 1137
Clumn CONTRIBUTING FACTOR VEHICLE 3 has 13939
Clumn CONTRIBUTING FACTOR VEHICLE 4 has 14200
Clumn CONTRIBUTING FACTOR VEHICLE 5 has 14224
Clumn COLLISION_ID has 0
Clumn VEHICLE TYPE CODE 1 has 0
Clumn VEHICLE TYPE CODE 2 has 2027
Clumn VEHICLE TYPE CODE 3 has 13959
Clumn VEHICLE TYPE CODE 4 has 14201
Clumn VEHICLE TYPE CODE 5 has 14224

In [5]:
# count the nan value in the dataframe using for loop which is basically same as null value counts
for column in crash_df.columns:
     print(f"Clumn {column} has {crash_df[column].isna().sum()}")

Clumn CRASH TIME has 0
Clumn BOROUGH has 3889
Clumn ZIP CODE has 3889
Clumn LATITUDE has 809
Clumn LONGITUDE has 809
Clumn LOCATION has 809
Clumn ON STREET NAME has 2877
Clumn CROSS STREET NAME has 5699
Clumn OFF STREET NAME has 11360
Clumn NUMBER OF PERSONS INJURED has 1
Clumn NUMBER OF PERSONS KILLED has 0
Clumn NUMBER OF PEDESTRIANS INJURED has 0
Clumn NUMBER OF PEDESTRIANS KILLED has 0
Clumn NUMBER OF CYCLIST INJURED has 0
Clumn NUMBER OF CYCLIST KILLED has 0
Clumn NUMBER OF MOTORIST INJURED has 0
Clumn NUMBER OF MOTORIST KILLED has 0
Clumn CONTRIBUTING FACTOR VEHICLE 1 has 0
Clumn CONTRIBUTING FACTOR VEHICLE 2 has 1137
Clumn CONTRIBUTING FACTOR VEHICLE 3 has 13939
Clumn CONTRIBUTING FACTOR VEHICLE 4 has 14200
Clumn CONTRIBUTING FACTOR VEHICLE 5 has 14224
Clumn COLLISION_ID has 0
Clumn VEHICLE TYPE CODE 1 has 0
Clumn VEHICLE TYPE CODE 2 has 2027
Clumn VEHICLE TYPE CODE 3 has 13959
Clumn VEHICLE TYPE CODE 4 has 14201
Clumn VEHICLE TYPE CODE 5 has 14224

In [6]:
# clean the dataframe by removing columns missing most of the values
crash_df_cleaned = crash_df.drop(["OFF STREET NAME", "CROSS STREET NAME", "CONTRIBUTING FACTOR VEHICLE 3", "CONTRIBUTING FACTOR VEHICLE 4", 
                          "CONTRIBUTING FACTOR VEHICLE 5", "VEHICLE TYPE CODE 3", "VEHICLE TYPE CODE 4", "VEHICLE TYPE CODE 5" ], axis =1)
print(crash_df_cleaned.shape)
crash_df_cleaned

(14237, 20)

,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,,,,,,,,,,
12/14/21,12:54,BROOKLYN,11217.0,40.687534,-73.977500,"(40.687534, -73.9775)",FULTON STREET,1.0,0,0,0,1,0,0,0,Unspecified,Unspecified,4487052,Sedan,Bike
12/14/21,16:25,NaN,NaN,40.784615,-73.953964,"(40.784615, -73.953964)",EAST 93 STREET,1.0,0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4486581,Van,Bike
4/24/22,15:35,MANHATTAN,10019.0,40.767242,-73.986206,"(40.767242, -73.986206)",WEST 56 STREET,1.0,0,0,0,1,0,0,0,View Obstructed/Limited,Unspecified,4521853,Station Wagon/Sport Utility Vehicle,Bike
12/9/21,20:20,BROOKLYN,11223.0,40.592070,-73.962990,"(40.59207, -73.96299)",EAST 7 STREET,1.0,0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,4485150,Bike,NaN
12/9/21,23:15,BROOKLYN,11218.0,40.640835,-73.989670,"(40.640835, -73.98967)",12 AVENUE,1.0,0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4485355,Sedan,Bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8/29/21,10:08,NaN,NaN,40.773530,-73.944170,"(40.77353, -73.94417)",FDR DRIVE,3.0,0,0,0,3,0,0,0,Pavement Defective,Shoulders Defective/Improper,4451773,Bike,Bike
11/13/21,1:00,MANHATTAN,10036.0,40.756710,-73.986465,"(40.75671, -73.986465)",WEST 43 STREET,3.0,0,0,0,3,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Unspecified,4477963,Sedan,Pedicab
5/22/22,16:05,MANHATTAN,10022.0,40.759163,-73.976750,"(40.759163, -73.97675)",WEST 51 STREET,3.0,0,0,0,3,0,0,0,Following Too Closely,Unspecified,4531576,Motorcycle,Pedicab
8/30/20,2:07,BRONX,10453.0,40.850180,-73.910590,"(40.85018, -73.91059)",EAST 177 STREET,3.0,0,0,0,3,0,0,0,Driver Inattention/Distraction,Unspecified,4344651,Bike,E-Scooter
2/14/20,22:44,NaN,NaN,40.710907,-73.951650,"(40.710907, -73.95165)",BORINQUEN PLACE,3.0,0,0,0,3,0,0,0,Failure to Yield Right-of-Way,Unspecified,4288986,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle

In [142]:
# make numerical index to the dataframe 
crash_df_cleaned.reset_index(inplace=True)
crash_df_cleaned.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,12/14/21,12:54,BROOKLYN,11217.0,40.687534,-73.977500,"(40.687534, -73.9775)",FULTON STREET,1.0,0,...,0,1,0,0,0,Unspecified,Unspecified,4487052,Sedan,Bike
1,12/14/21,16:25,NaN,NaN,40.784615,-73.953964,"(40.784615, -73.953964)",EAST 93 STREET,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4486581,Van,Bike
2,4/24/22,15:35,MANHATTAN,10019.0,40.767242,-73.986206,"(40.767242, -73.986206)",WEST 56 STREET,1.0,0,...,0,1,0,0,0,View Obstructed/Limited,Unspecified,4521853,Station Wagon/Sport Utility Vehicle,Bike
3,12/9/21,20:20,BROOKLYN,11223.0,40.592070,-73.962990,"(40.59207, -73.96299)",EAST 7 STREET,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,4485150,Bike,NaN
4,12/9/21,23:15,BROOKLYN,11218.0,40.640835,-73.989670,"(40.640835, -73.98967)",12 AVENUE,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4485355,Sedan,Bike
5,12/8/21,19:30,MANHATTAN,10022.0,40.761750,-73.968990,"(40.76175, -73.96899)",NaN,1.0,0,...,0,1,0,0,0,Following Too Closely,Reaction to Uninvolved Vehicle,4484852,Station Wagon/Sport Utility Vehicle,Bike
6,12/8/21,12:00,MANHATTAN,10011.0,40.736614,-73.995100,"(40.736614, -73.9951)",NaN,1.0,0,...,0,1,0,0,0,Passing or Lane Usage Improper,Unspecified,4485542,Box Truck,Bike
7,3/26/22,19:50,MANHATTAN,10012.0,40.730145,-73.997810,"(40.730145, -73.99781)",NaN,1.0,0,...,0,1,0,0,0,Passenger Distraction,Unspecified,4513735,E-Bike,BOX VAN
8,3/21/22,19:13,NaN,NaN,40.731407,-73.996980,"(40.731407, -73.99698)",WASHINGTON SQUARE NORTH,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,4514234,Sedan,Bike
9,3/26/22,2:10,MANHATTAN,10018.0,40.754707,-73.991640,"(40.754707, -73.99164)",WEST 38 STREET,1.0,0,...,0,1,0,0,0,Failure to Yield Right-of-Way,Unspecified,4513739,Bike,NaN

In [7]:
# make a new dataframe with location columns from the original dataframe to get missing values in the zip code column
location_df= crash_df_cleaned.filter(["LATITUDE", "LONGITUDE", "ZIP CODE"], axis =1)
location_df=location_df.reset_index(drop=True)
location_df

        LATITUDE  LONGITUDE  ZIP CODE
0      40.687534 -73.977500   11217.0
1      40.784615 -73.953964       NaN
2      40.767242 -73.986206   10019.0
3      40.592070 -73.962990   11223.0
4      40.640835 -73.989670   11218.0
...          ...        ...       ...
14232  40.773530 -73.944170       NaN
14233  40.756710 -73.986465   10036.0
14234  40.759163 -73.976750   10022.0
14235  40.850180 -73.910590   10453.0
14236  40.710907 -73.951650       NaN

[14237 rows x 3 columns]

In [8]:
# getting locations only for missing zipcodes
location_only_nozipcode = location_df[location_df["ZIP CODE"].isnull()

In [9]:
# dropping row with missing values across in all three column
location_df_nonna = location_only_nozipcode.dropna(axis=0, how='all')
location_df_nonna

        LATITUDE  LONGITUDE  ZIP CODE
1      40.784615 -73.953964       NaN
8      40.731407 -73.996980       NaN
12     40.804585 -73.947820       NaN
19     40.792930 -73.950005       NaN
21     40.601864 -74.002320       NaN
...          ...        ...       ...
14222  40.787857 -73.967450       NaN
14224  40.697716 -73.964880       NaN
14231  40.752800 -73.979294       NaN
14232  40.773530 -73.944170       NaN
14236  40.710907 -73.951650       NaN

[3378 rows x 3 columns]

In [20]:
# save the dataframe location_df_nonna as csv
location_df_nonna.to_csv("location_missingzipcode.csv")

In [10]:
# Dropping ZIP CODE column to prepare the dataframe for geopy to get ZIP CODE
location_getZipCode = location_df_nonna.drop(["ZIP CODE"], axis=1)
location_getZipCode_nozero= location_getZipCode.loc[(location_getZipCode!=0).any(axis=1)]  # dropping rows with zero values in location by keeping the rows with values
print(location_getZipCode_nozero.shape)

(3344, 2)

In [11]:
# import geopy to get zip code by using locations
from geopy.geocoders import Nominatim

In [12]:
# impport GeocoderTimeOut to get zipcode to avoid timeout error
from geopy.exc import GeocoderTimedOut

In [15]:
# get zip code with location with geopy with conditions such as pass the key error and timeout 
import geopy
geolocator = geopy.Nominatim(user_agent="123456")
def get_zipcode(df, geolocator, lat_field, lon_field, attempt=1, max_attempts=100):
    try:
        location = geolocator.reverse((df[lat_field], df[lon_field]))
        return location.raw['address']['postcode']
    except KeyError:
        pass
    except GeocoderTimedOut:
        if attempt <= max_attempts:
            return get_zipcode (df, attempt=attempt+1)
        raise

In [16]:
# get the zipcode based on the location, note that this code takes about 30min 
zipcodes1 = location_getZipCode_nozero.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='LATITUDE', lon_field='LONGITUDE')

In [17]:
# check the zipcodes extracted by geopy based on the given location
zipcodes1

1        10128
8        10012
12       10026
19       10029
21       11214
         ...
14222    10024
14224    11205
14231    10017
14232    10162
14236    11211
Length: 3344, dtype: object

In [102]:
# Make a simple dataframe with extracted zipcodes keeping the index 
ZIP_CODE_df =pd.DataFrame({"Missing_ZIP CODE":zipcodes1})
ZIP_CODE_df
#ZIP_CODE_df.info()

      Missing_ZIP CODE
1                10128
8                10012
12               10026
19               10029
21               11214
...                ...
14222            10024
14224            11205
14231            10017
14232            10162
14236            11211

[3344 rows x 1 columns]

In [103]:
# merge the zipcode dataframe into the location_df_nonna
Location_zipcode = pd.merge(location_df_nonna,ZIP_CODE_df, left_index=True, right_index=True)

In [104]:
# after merge drop "ZIP CODE", "Missing_ZIP CODE_y" to have 3 columns in the dataframe
location_zipcode_full = Location_zipcode.drop(["ZIP CODE", "Missing_ZIP CODE_y"], axis=1)
location_zipcode_full

        LATITUDE  LONGITUDE Missing_ZIP CODE_x
1      40.784615 -73.953964              10128
8      40.731407 -73.996980              10012
12     40.804585 -73.947820              10026
19     40.792930 -73.950005              10029
21     40.601864 -74.002320              11214
...          ...        ...                ...
14222  40.787857 -73.967450              10024
14224  40.697716 -73.964880              11205
14231  40.752800 -73.979294              10017
14232  40.773530 -73.944170              10162
14236  40.710907 -73.951650              11211

[3344 rows x 3 columns]

In [105]:
# rename the column name consistant with original dataframe
location_zipcode_full.columns = ["LATITUDE","LONGITUDE","ZIP CODE"]

In [110]:
# there is 2 rows still missing with zipcode, so drop those 2 rows
location_zipcode_full=location_zipcode_full.dropna()

In [121]:
# save this dataframe as vsc 
#location_zipcode_full.to_csv("zipcode.csv")
location_zipcode_full

        LATITUDE  LONGITUDE  ZIP CODE BOROUGH
1      40.784615 -73.953964     10128
8      40.731407 -73.996980     10012
12     40.804585 -73.947820     10026
19     40.792930 -73.950005     10029
21     40.601864 -74.002320     11214
...          ...        ...       ...     ...
14222  40.787857 -73.967450     10024
14224  40.697716 -73.964880     11205
14231  40.752800 -73.979294     10017
14232  40.773530 -73.944170     10162
14236  40.710907 -73.951650     11211

[3342 rows x 4 columns]

In [125]:
# change zip codes values from object to integer to be able to pass into the next cell for the conditional statement
location_zipcode_full['ZIP CODE'] = location_zipcode_full['ZIP CODE'].astype(str).astype(int)
location_zipcode_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3342 entries, 1 to 14236
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LATITUDE   3342 non-null   float64
 1   LONGITUDE  3342 non-null   float64
 2   ZIP CODE   3342 non-null   int64
 3   BOROUGH    3342 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 130.5+ KB

/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [136]:
# using follwoing zip code range for boroughs, make a empty BOROUGH column and fill it with conditional statement with zip code
# Manhattan: 10001-10282
# Staten Island: 10301-10314
# Bronx: 10451-10475
# Queens: 11004-11109, 11351-11697
# Brooklyn: 11201-11256
location_zipcode_full["BOROUGH"]=""
location_zipcode_full.loc[(location_zipcode_full["ZIP CODE"] > 10000) & (location_zipcode_full["ZIP CODE"] < 10283 ), "BOROUGH"] = "MANHATTAN"
location_zipcode_full.loc[(location_zipcode_full["ZIP CODE"] > 10300) & (location_zipcode_full["ZIP CODE"] < 10315 ), "BOROUGH"] = "STATEN ISLAND"
location_zipcode_full.loc[(location_zipcode_full["ZIP CODE"] > 10450) & (location_zipcode_full["ZIP CODE"] < 10476 ), "BOROUGH"] = "BRONX"
location_zipcode_full.loc[(location_zipcode_full["ZIP CODE"] > 11003) & (location_zipcode_full["ZIP CODE"] < 11110 ), "BOROUGH"] = "QUEENS"
location_zipcode_full.loc[(location_zipcode_full["ZIP CODE"] > 11350) & (location_zipcode_full["ZIP CODE"] < 11698 ), "BOROUGH"] = "QUEENS"
location_zipcode_full.loc[(location_zipcode_full["ZIP CODE"] > 11200) & (location_zipcode_full["ZIP CODE"] < 11257 ), "BOROUGH"] = "BROOKLYN"

/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/dilhumarablat/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [137]:
# check the dataframe after filled BOROUGH column with names of boroughs based on zip code
location_zipcode_full

        LATITUDE  LONGITUDE  ZIP CODE    BOROUGH
1      40.784615 -73.953964     10128  MANHATTAN
8      40.731407 -73.996980     10012  MANHATTAN
12     40.804585 -73.947820     10026  MANHATTAN
19     40.792930 -73.950005     10029  MANHATTAN
21     40.601864 -74.002320     11214   BROOKLYN
...          ...        ...       ...        ...
14222  40.787857 -73.967450     10024  MANHATTAN
14224  40.697716 -73.964880     11205   BROOKLYN
14231  40.752800 -73.979294     10017  MANHATTAN
14232  40.773530 -73.944170     10162  MANHATTAN
14236  40.710907 -73.951650     11211   BROOKLYN

[3342 rows x 4 columns]

In [147]:
# fill the missing values into the original dataframe with the extracted datarame values for zip code and borough
crash_df_cleaned.loc[location_zipcode_full.index, "BOROUGH"] = location_zipcode_full["BOROUGH"]
crash_df_cleaned.loc[location_zipcode_full.index, "ZIP CODE"] = location_zipcode_full["ZIP CODE"]
crash_df_cleaned.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,12/14/21,12:54,BROOKLYN,11217.0,40.687534,-73.977500,"(40.687534, -73.9775)",FULTON STREET,1.0,0,...,0,1,0,0,0,Unspecified,Unspecified,4487052,Sedan,Bike
1,12/14/21,16:25,MANHATTAN,10128.0,40.784615,-73.953964,"(40.784615, -73.953964)",EAST 93 STREET,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4486581,Van,Bike
2,4/24/22,15:35,MANHATTAN,10019.0,40.767242,-73.986206,"(40.767242, -73.986206)",WEST 56 STREET,1.0,0,...,0,1,0,0,0,View Obstructed/Limited,Unspecified,4521853,Station Wagon/Sport Utility Vehicle,Bike
3,12/9/21,20:20,BROOKLYN,11223.0,40.592070,-73.962990,"(40.59207, -73.96299)",EAST 7 STREET,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,4485150,Bike,NaN
4,12/9/21,23:15,BROOKLYN,11218.0,40.640835,-73.989670,"(40.640835, -73.98967)",12 AVENUE,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4485355,Sedan,Bike
5,12/8/21,19:30,MANHATTAN,10022.0,40.761750,-73.968990,"(40.76175, -73.96899)",NaN,1.0,0,...,0,1,0,0,0,Following Too Closely,Reaction to Uninvolved Vehicle,4484852,Station Wagon/Sport Utility Vehicle,Bike
6,12/8/21,12:00,MANHATTAN,10011.0,40.736614,-73.995100,"(40.736614, -73.9951)",NaN,1.0,0,...,0,1,0,0,0,Passing or Lane Usage Improper,Unspecified,4485542,Box Truck,Bike
7,3/26/22,19:50,MANHATTAN,10012.0,40.730145,-73.997810,"(40.730145, -73.99781)",NaN,1.0,0,...,0,1,0,0,0,Passenger Distraction,Unspecified,4513735,E-Bike,BOX VAN
8,3/21/22,19:13,MANHATTAN,10012.0,40.731407,-73.996980,"(40.731407, -73.99698)",WASHINGTON SQUARE NORTH,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,4514234,Sedan,Bike
9,3/26/22,2:10,MANHATTAN,10018.0,40.754707,-73.991640,"(40.754707, -73.99164)",WEST 38 STREET,1.0,0,...,0,1,0,0,0,Failure to Yield Right-of-Way,Unspecified,4513739,Bike,NaN

In [186]:
# drop nan rows from the dataframe, now we get 9193 rows which is 3000 more than dropping nan before getting zipcode and borough
crash_nona_df = crash_df_cleaned.dropna()
print(crash_nona_df.shape)
crash_nona_df

(9193, 21)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,12/14/21,12:54,BROOKLYN,11217.0,40.687534,-73.977500,"(40.687534, -73.9775)",FULTON STREET,1.0,0,...,0,1,0,0,0,Unspecified,Unspecified,4487052,Sedan,Bike
1,12/14/21,16:25,MANHATTAN,10128.0,40.784615,-73.953964,"(40.784615, -73.953964)",EAST 93 STREET,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4486581,Van,Bike
2,4/24/22,15:35,MANHATTAN,10019.0,40.767242,-73.986206,"(40.767242, -73.986206)",WEST 56 STREET,1.0,0,...,0,1,0,0,0,View Obstructed/Limited,Unspecified,4521853,Station Wagon/Sport Utility Vehicle,Bike
4,12/9/21,23:15,BROOKLYN,11218.0,40.640835,-73.989670,"(40.640835, -73.98967)",12 AVENUE,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4485355,Sedan,Bike
8,3/21/22,19:13,MANHATTAN,10012.0,40.731407,-73.996980,"(40.731407, -73.99698)",WASHINGTON SQUARE NORTH,1.0,0,...,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,4514234,Sedan,Bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14232,8/29/21,10:08,MANHATTAN,10162.0,40.773530,-73.944170,"(40.77353, -73.94417)",FDR DRIVE,3.0,0,...,0,3,0,0,0,Pavement Defective,Shoulders Defective/Improper,4451773,Bike,Bike
14233,11/13/21,1:00,MANHATTAN,10036.0,40.756710,-73.986465,"(40.75671, -73.986465)",WEST 43 STREET,3.0,0,...,0,3,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Unspecified,4477963,Sedan,Pedicab
14234,5/22/22,16:05,MANHATTAN,10022.0,40.759163,-73.976750,"(40.759163, -73.97675)",WEST 51 STREET,3.0,0,...,0,3,0,0,0,Following Too Closely,Unspecified,4531576,Motorcycle,Pedicab
14235,8/30/20,2:07,BRONX,10453.0,40.850180,-73.910590,"(40.85018, -73.91059)",EAST 177 STREET,3.0,0,...,0,3,0,0,0,Driver Inattention/Distraction,Unspecified,4344651,Bike,E-Scooter
14236,2/14/20,22:44,BROOKLYN,11211.0,40.710907,-73.951650,"(40.710907, -73.95165)",BORINQUEN PLACE,3.0,0,...,0,3,0,0,0,Failure to Yield Right-of-Way,Unspecified,4288986,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle

In [187]:
# set index with COLLISION_ID
crash_nona_index_df=crash_nona_df.reset_index().set_index('COLLISION_ID')

In [188]:
# format the CRASH DATE from m/d/y to t-m-d to be able to sort 
crash_nona_index_df['CRASH DATE'] = pd.to_datetime(crash_nona_index_df['CRASH DATE'], format='%m/%d/%y').dt.strftime('%Y-%m-%d')

In [189]:
# fromat crash time to be able to sort by time in the next cell 
crash_nona_index_df['CRASH TIME'] = pd.to_datetime(crash_nona_index_df['CRASH TIME'], format= '%H:%M') - pd.to_datetime(crash_nona_index_df['CRASH TIME'], format= '%H:%M').dt.normalize()

In [190]:
# sort the dataframe with CRASH DATE and CRASH TIME 
crash_date_sorted_df = crash_nona_index_df.sort_values(['CRASH DATE', "CRASH TIME"] , ascending=[True, True])
crash_date_sorted_df.head()

,index,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
COLLISION_ID,,,,,,,,,,,,,,,,,,,,,
4271563,13297,2020-01-02,0 days 13:30:00,MANHATTAN,10003.0,40.714165,-74.006320,"(40.714165, -74.00632)",CHAMBERS STREET,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,Sedan,Bike
4268322,13344,2020-01-02,0 days 16:00:00,MANHATTAN,10012.0,40.725643,-73.992070,"(40.725643, -73.99207)",BOWERY,1.0,...,0,0,1,0,0,0,Turning Improperly,Unspecified,Sedan,Bike
4268207,13347,2020-01-02,0 days 17:35:00,BROOKLYN,11221.0,40.693874,-73.917770,"(40.693874, -73.91777)",CENTRAL AVENUE,1.0,...,0,0,1,0,0,0,Traffic Control Disregarded,Unspecified,Station Wagon/Sport Utility Vehicle,Bike
4268408,13304,2020-01-03,0 days 08:20:00,BRONX,10456.0,40.820747,-73.906006,"(40.820747, -73.906006)",JACKSON AVENUE,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,E-Bike,Taxi
4269187,13349,2020-01-03,0 days 11:35:00,BROOKLYN,11205.0,40.691017,-73.954475,"(40.691017, -73.954475)",DE KALB AVENUE,1.0,...,0,0,1,0,0,0,View Obstructed/Limited,Unsafe Speed,Sedan,E-Bike

In [191]:
crash_date_sorted_df['CRASH TIME'] = crash_date_sorted_df['CRASH TIME'].astype(str).str.replace("0 days ", "")
crash_date_sorted_df.head()

,index,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
COLLISION_ID,,,,,,,,,,,,,,,,,,,,,
4271563,13297,2020-01-02,13:30:00,MANHATTAN,10003.0,40.714165,-74.006320,"(40.714165, -74.00632)",CHAMBERS STREET,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,Sedan,Bike
4268322,13344,2020-01-02,16:00:00,MANHATTAN,10012.0,40.725643,-73.992070,"(40.725643, -73.99207)",BOWERY,1.0,...,0,0,1,0,0,0,Turning Improperly,Unspecified,Sedan,Bike
4268207,13347,2020-01-02,17:35:00,BROOKLYN,11221.0,40.693874,-73.917770,"(40.693874, -73.91777)",CENTRAL AVENUE,1.0,...,0,0,1,0,0,0,Traffic Control Disregarded,Unspecified,Station Wagon/Sport Utility Vehicle,Bike
4268408,13304,2020-01-03,08:20:00,BRONX,10456.0,40.820747,-73.906006,"(40.820747, -73.906006)",JACKSON AVENUE,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,E-Bike,Taxi
4269187,13349,2020-01-03,11:35:00,BROOKLYN,11205.0,40.691017,-73.954475,"(40.691017, -73.954475)",DE KALB AVENUE,1.0,...,0,0,1,0,0,0,View Obstructed/Limited,Unsafe Speed,Sedan,E-Bike

In [196]:
# format zipcode to integer to remove the decimal number
crash_date_sorted_df['ZIP CODE'] = crash_date_sorted_df['ZIP CODE'].astype(int)
crash_date_sorted_df

,index,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
COLLISION_ID,,,,,,,,,,,,,,,,,,,,,
4271563,13297,2020-01-02,13:30:00,MANHATTAN,10003,40.714165,-74.006320,"(40.714165, -74.00632)",CHAMBERS STREET,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,Sedan,Bike
4268322,13344,2020-01-02,16:00:00,MANHATTAN,10012,40.725643,-73.992070,"(40.725643, -73.99207)",BOWERY,1.0,...,0,0,1,0,0,0,Turning Improperly,Unspecified,Sedan,Bike
4268207,13347,2020-01-02,17:35:00,BROOKLYN,11221,40.693874,-73.917770,"(40.693874, -73.91777)",CENTRAL AVENUE,1.0,...,0,0,1,0,0,0,Traffic Control Disregarded,Unspecified,Station Wagon/Sport Utility Vehicle,Bike
4268408,13304,2020-01-03,08:20:00,BRONX,10456,40.820747,-73.906006,"(40.820747, -73.906006)",JACKSON AVENUE,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,E-Bike,Taxi
4269187,13349,2020-01-03,11:35:00,BROOKLYN,11205,40.691017,-73.954475,"(40.691017, -73.954475)",DE KALB AVENUE,1.0,...,0,0,1,0,0,0,View Obstructed/Limited,Unsafe Speed,Sedan,E-Bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571618,13966,2022-10-09,01:11:00,QUEENS,11375,40.734295,-73.850310,"(40.734295, -73.85031)",108 STREET,1.0,...,0,0,1,0,0,0,Traffic Control Disregarded,Unspecified,Taxi,Bike
4571590,13971,2022-10-09,06:35:00,BROOKLYN,11201,40.689840,-73.978630,"(40.68984, -73.97863)",DE KALB AVENUE,1.0,...,0,0,1,0,0,0,Failure to Yield Right-of-Way,Unspecified,Bike,Station Wagon/Sport Utility Vehicle
4571393,13969,2022-10-09,11:50:00,BROOKLYN,11201,40.702610,-73.992516,"(40.70261, -73.992516)",FRONT STREET,1.0,...,0,0,1,0,0,0,Driver Inattention/Distraction,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Bike,Bike
4571698,13972,2022-10-09,12:10:00,MANHATTAN,10002,40.715080,-73.992500,"(40.71508, -73.9925)",CANAL STREET,1.0,...,0,0,1,0,0,0,Turning Improperly,Unspecified,Bike,Station Wagon/Sport Utility Vehicle
4571553,13974,2022-10-09,20:35:00,BROOKLYN,11223,40.600590,-73.961370,"(40.60059, -73.96137)",AVENUE T,1.0,...,0,0,1,0,0,0,Failure to Yield Right-of-Way,Unspecified,Sedan,Bike

In [197]:
crash_date_sorted_df.to_csv("NYC_Crash_Cyclist_Clean_2020_2022.csv")